.nimbus__weather {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: var(--gutter-large);
    width: fit-content;
    color: var(--color-light);
    background-color: rgba(0, 0, 0, 0.12);
    padding: 0 var(--gutter-large);
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);

    &-icon,
    &-info {
        font-size: var(--font-size-large);
    }

    &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 80px;
        width: 160px;
        margin-left: var(--gutter-extra-large);
    }

    &-icon {
        display: block;
        position: absolute;
        top: 0;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

        &[data-layer="sky"] {
            z-index: 0;
            margin-left: 8px;
        }

        &[data-layer="wind"] {
            top: 32px;
            right: 0;
            z-index: 1;
        }

        &[data-layer="cloud"] {
            font-size: var(--font-size-extra-large);
            top: 32px;
            z-index: 2;
        }
    }

    &-video {
        position: fixed;
        object-fit: contain;
        bottom: 0;
        right: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: -1;
        opacity: 0.35;
    }
}