:root {
    --color-dark: #232323;
    --color-light: #cbcbcb;

    --font: 'ZenMaru', Arial, Helvetica, sans-serif;
    --font-bold: 'ZenMaru-Bold', Arial, Helvetica, sans-serif;
    --font-size: 20px;
    --font-size-large: 64px;
    --font-size-extra-large: 80px;

    --gutter: 8px;
    --gutter-small: 4px;
    --gutter-large: 16px;
    --gutter-extra-large: 24px;

    --animation-time: 0.15s;
}